.home-picXtext-div {
  border-radius: 20px;
  border: 2px solid rgba(92, 72, 173, 1);
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: center;
}

.home-picXtext-div.left {
  flex-direction: column;
}

.home-picXtext-div.about {
  border-radius: 20px;
  margin: 1rem auto;
  box-shadow: 0px 8px 8px 0px rgba(166, 198, 211, 0.25);
  padding: 1rem;
}

.home-picXtext-innder-div {
  /* width: 100%; */
}

.home-picXtext-h1 {
  /* font-size: clamp(2rem, 5vw, 4rem); */
  font-family: Marcellus;
  font-size: 76px;
  font-weight: 400;
  line-height: 95.3px;
}

.home-picXtext-p {
  /* font-size: clamp(1.5rem, 3vw, 2rem); */
  font-family: Nunito;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.01em;

  margin-bottom: 2rem;
  width: 100%;
}

.home-picXtext-img {
  /* width: 100%; */
  /* max-width: 300px; */
  height: auto;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .home-picXtext-div {
    flex-direction: row;
    margin: 5rem auto;
    padding: 2rem;
    flex-wrap: wrap;
  }

  .home-picXtext-div.left {
    flex-direction: row-reverse;
  }

  .home-picXtext-h1 {
    font-size: 4.6rem;
    line-height: 57.68px;
  }

  .home-picXtext-p {
    font-size: 1.8rem;
    line-height: 24.55px;
  }

  .home-picXtext-img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .home-picXtext-div {
    padding: 5rem;
  }

  .home-picXtext-innder-div {
    padding: 0 2rem;
  }
}
