.menu_header {
  font-family: var(--font-primary);
  font-size: 83px;
  font-weight: 400;
  line-height: 112px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-blue);
}
span {
    color: var(--gray);
}
