.section {
  border-radius: 25px;
  /* width: 50rem; */
  /* width: 90%; */
  height: fit-content;
  padding: 2rem;
}
.section.access {
  text-align: center;
}
.section.access img {
  width: 25%;
}
.section.wpdev {
  width: auto;
  height: auto;
}
.section.purp.webdev {
  grid-column: 1;
  grid-row: 1 / -2;
}
.section.seoCard {
  background: linear-gradient(115.49deg, #000000 2.53%, #545454 99.18%);
}
.section.purp.desLog {
  overflow-y: clip;
  /* height: 70%; */
}
.section.purp {
  background: conic-gradient(
    from 135deg at 50% 50%,
    #889be1 0deg,
    #a26ce4 180deg,
    #889be1 360deg
  );
}
.section.cloud img {
  width: 40rem;
}
.section.cloud {
  position: relative;
  text-align: center;
  color: #ffffff;
}
.section.cloud h1 {
  background: linear-gradient(270deg, #fff 27.94%, #fff 97.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  position: absolute;
  top: 25%;
  right: 20%;
}
.section.cloud p {
  position: absolute;
  z-index: 1;
  width: 80%;
  top: 50%;
  left: 10%;
  text-align: center;
}
.section.groupWorking {
}
.serviceCardsSection {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-gap: 2rem;
}

.section.purp h1,
.section.seoCard h1 {
  background: linear-gradient(270deg, #ffffff 27.94%, #ffffff 97.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section h1 {
  font-family: Nunito;
  font-size: 45px;
  font-weight: 800;
  line-height: 61.38px;
  /* text-align: left; */
  background: linear-gradient(270deg, #873de1 27.94%, #ab7ce4 97.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section.seoCard p {
  color: white;
}
.section p {
  font-family: Nunito;
  font-size: 21px;
  font-weight: 500;
  line-height: 28.64px;
  /* text-align: left; */
}

.section img {
  width: 70%;
}
