.siteTitleHero {
  margin: 0 auto;
  width: 50%;
  max-width: 72.7rem;
  font-family: Marcellus, serif;
  font-size: clamp(3rem, 8vw, 15.5rem); /* Responsive font size */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.bigTextEv {
  transform: rotate(1.66deg);
  display: block;
  background: rgba(255, 186, 58, 0.77);
}

.bitTextHero {
  font-family: Nunito, sans-serif;
  font-size: clamp(1.5rem, 3vw, 3.6rem); /* Responsive font size */
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray);
  text-align: center;
  margin-bottom: 2rem;
}

.feat-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.feat-hero > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: 100%; */
  max-width: 240px;
}

.feat-home-text {
  font-family: var(--font-secondary), sans-serif;
  font-size: clamp(1rem, 2vw, 2.8rem); /* Responsive font size */
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-blue);
  margin-top: 1rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .toBeHidden {
    /* visibility: hidden; */
    display: none !important;
  }
  .feat-hero {
    gap: 1.5rem;
  }

  .feat-home-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .feat-home-text {
    font-size: 1.4rem;
  }
}
