.servicesDiv {
  max-width: 55%;
  margin: auto;
  padding: 2rem;
  border-radius: 52px;
  text-align: center;
}
.heroSection .menu_header span,
.heroSection .menu-list li a {
  color: aliceblue !important;
}
.heroSection {
  background-image: url(../img/service-Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.servicesDiv h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Marcellus, serif;
  font-size: clamp(2.5rem, 5vw, 8.2rem);
  font-weight: 400;
  line-height: 102.82px;
  letter-spacing: 0.01em;
}

.servicesDiv p {
  font-family: Marcellus, serif;
  font-size: clamp(2.3rem, 2vw, 2.6rem);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: aliceblue;
  margin-bottom: 2rem;
}

/* Button styling */
.btn-div {
  display: flex;
  justify-content: center;
}
/* TODO menu text color changed on service page  */

@media (max-width: 768px) {
  .servicesDiv {
    padding: 1.5rem;
  }

  .servicesDiv h1 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 75.23px;
  }

  .servicesDiv p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 25.08px;
    letter-spacing: 0.01em;
  }
}

@media (max-width: 480px) {
  .servicesDiv {
    padding: 1rem;
  }

  .servicesDiv h1 {
    font-size: 5rem;
  }

  .servicesDiv p {
    /* font-size: clamp(0.75rem, 4vw, 1.25rem); / */
  }
}
