.ourProSection-Title {
  background: rgba(247, 251, 255, 1);
  padding: 0 calc(50vw - 400px);
}
.ourProSection {
  background: rgba(247, 251, 255, 1);
}
.title-our {
  width: 722px;
}
.titlel-h3-our {
  font-family: Nunito;
  font-size: 44px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.01em;
  padding-top: 10rem;
  text-align: center;
  margin-bottom: 0;
  background: linear-gradient(90deg, #5c48ad 0%, #214ce7 100%);
  -webkit-background-clip: text;
  /* TODO  -Also define the standard property 'background-clip' for compatibility */
  -webkit-text-fill-color: transparent;
}
.titlel-h1-our {
  margin-top: 0;
  font-family: Marcellus;
  font-size: 110px;
  font-weight: 400;
  line-height: 137.93px;
  letter-spacing: 0.01em;
  text-align: center;
}
.titlel-p-our {
  font-family: Nunito;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.01em;
  text-align: center;
}
.p-dots {
  font-family: Marcellus;
  font-size: 105px;
  font-weight: 400;
  line-height: 131.66px;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgba(92, 72, 173, 1);
}
.middleBoxProc {
  padding: 34px 172px;
  border-radius: 64px;

  background: linear-gradient(90deg, #214ce7 200%, #5c48ad 100%);
  font-family: Marcellus;
  font-size: 75px;
  font-weight: 400;
  line-height: 94.04px;
  letter-spacing: 0.01em;
  text-align: center;
}
.bottomBoxProc {
  text-align: center;
  background: linear-gradient(80.08deg, #0f172a 14.62%, #334f90 78.4%);
  padding: 5rem;
  border-radius: 64px;
  font-family: VT323;
  font-size: 61px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0.01em;
  text-align: center;

  margin: 0 14rem;
}
.procFir {
  display: inline;
  color: #c99437;
}
.procsec {
  display: inline;
  color: var(--purple);
}
.procLast {
  color: white;
  display: inline;
}
