.liQnA {
  margin: 1rem 0;
  background-color: var(--off-white);
  border: 1px solid black;
}
.ulQnA {
  width: fit-content;
  margin: 0 auto;
}
.h1QnA {
  font-size: 6rem;
}
.divQnA {
  margin: 2rem;
  background-color: white;
  border: 3px solid black;
  padding: 3rem;
}
.aQnA {
  background-color: var(--off-white);
  font-size: 5rem;
  width: fit-content;
  text-decoration: none;
  color: inherit;
  border: none;
}
.QnAAnswer {
  background-color: var(--off-white);
  font-size: 3rem;
  margin: 0 auto;
  width: fit-content;
}
