:root {
  /* Color Palette */
  --white: #ffffff;
  --off-white: #f1f5fd;
  --light-blue: #214ce7;
  --dark-blue: #0f172a;
  --purple: #5c48ad;
  --gray: #2e2e2e;

  /* Font Settings */
  --font-primary: "Marcellus", serif;
  --font-secondary: "Nunito Sans", sans-serif;
  --font-tertiary: "Exo 2", sans-serif;
  --font-mono: "VT323", monospace;

  /* Font Size (1rem = 10px) */
  font-size: 62.5%; /* Converts 1rem to 10px */
}

body {
  font-family: var(--font-secondary);
  font-size: 1.6rem; /* Default font size: 16px */
  color: var(--gray);
  background-color: var(--off-white);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.highlight {
  color: var(--light-blue);
}

